<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/descricao.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <title>Produtos</title>

<body>
    <header>
        <!--Logo Site-->
        <section id="centralizar">
            <div class="logo">
                <a href="../index.html"><img src="../img/proweb.png" alt="Logo da minha empresa"></a>
            </div>

            <!-- Links do nav-bar -->
            <nav id="nav-links">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../pages/catalogo.html">Catálogo</a></li>
                    <li><a href="../pages/contato.html">Contato</a></li>
                </ul>
            </nav>

            <!-- Botão -->
            <div class="login">
                <button>LOGIN</button>
            </div>
        </section>
    </header>

    <tbody>
        <!-- Conteúdo do header -->
        <main>
            <div id="main-banner" style="color: rgb(40, 40, 40);">
                <!-- Título do banner -->
                <h1 style="padding: 34px; font-size: 36px;">CONHECENDO</h1>
            </div>
        </main>
    </tbody>

    <!-- Body content -->
    <section id="main-section" style="color: rgb(40, 40, 40);">

        <div id="div-info">
            <h2>Sobre as nossas <span style="color: rgb(202, 115, 15);">APIS</span></h2>

            <div class="api-descricao">
                <p>We have invested in the development of a set of APIs that will allow our partners and third-party
                    providers to connect to our systems.</p>
                <p>Leveraging this technology, we are offering integration capabilities for functionalities such as
                    Quote & Buy, Claims creation and management and Expert Orders across three major business lines:
                    Motor, Health and Household.</p>
                <p>This will allow our products to become accessible across companies and platforms, through external
                    services and applications, banking agency branch or self-service client applications, brokers' own
                    channels and more.</p>
            </div>

        </div>


        <section>
            <div id="div-info">
                <h2>Estrutura</h2>

                <div class="api-descricao">
                    <div style="display: flex; justify-content: center;">
                        <img src="../img/API-Estrutura.png" alt="Imagem estrutura" height="auto" width="700">
                    </div>
                </div>

                <div class="container-content">
                    <div class="guia">
                        <h2>Guia rápido</h2>
                        <p>Esta seção fornece informações sobre como solicitar acesso e configurar a conexão para usar
                            as
                            APIs.</p>
                        <p>Siga as etapas abaixo.</p>
                    </div>

                    <div class="guia-lista">
                        <ol>
                            <li><span class="bg-ol">1</span>Solicite o acesso</li>
                            <li><span class="bg-ol">2</span>Faça login</li>
                            <li><span class="bg-ol">3</span>Conecte-se na API</li>
                        </ol>
                    </div>

                    <div class="guia">
                        <h2>Acesso</h2>
                        <p>Para acessar as APIs, você precisa de um token de acesso. Para obter um token de acesso,
                            você precisa de um ID de cliente e uma chave secreta.</p>
                    </div>

                    <div class="guia">
                        <h3 style="margin-top: 24px;">Exemplo de certificação de Login</h3>
                        <p>Endpoint para retornar o Token que será utilizado para a chamada dos outros endpoints.</p>
                        <p>Body:</p>

                        <ol class="ol-descricao">
                            <li>"username": "usuarioAPI"</li>
                            <li>"password": "xusuapix"</li>
                        </ol>

                        <p>Exemplo Response: <br>
                            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c3VhcmlvYXBpIiwianRpIjoiNDE4NzNiMGQtMjJkMS00NmFiLWJlN2EtNGE4OTI5YzhmMzVlIiwiZ<br>XhwIjoxNjc0ODMwNzk4LCJpc3MiOiJwcm93ZWJfSXNzdWVyIiwiYXVkIjoicHJvd2ViX0F1ZGllbmNlIn0.AZia2PsIGk2JBop5nV4FCNOccMASQjWLZ8q2yhe6eTE
                        </p>
                    </div>
                </div>

            </div>
        </section>

    </section>


    <!-- Footer -->
    <footer style="background-color: #031326; padding: 20px; margin-top: 60px; display: flex;">
        <div id="footer-container">
            <!-- Link de documentaão -->

            <div id="footer-sobre" style="margin: 40px;">
                <h3 style="color: rgb(222, 222, 222); padding-bottom: 20px;">Sobre</h3>
                <p>Proteja seus dados e informações confidenciais com nossas APIs de segurança de alto nível.
                    Mantenha-se tranquilo com as melhores práticas de segurança.</p>
            </div>
            <div id="footer-documentation" style="margin: 40px;">
                <h3 style="color: rgb(222, 222, 222); padding-bottom: 20px;">Documentação</h3>
                <p><a href="link1.html">Link 1</a></p>
                <p><a href="link1.html">Link 1</a></p>
                <p><a href="link1.html">Link 1</a></p>
            </div>
            <!-- links do catálogo das API -->
            <div id="footer-api" style="margin: 40px;">
                <h3 style="color: rgb(222, 222, 222); padding-bottom: 20px;">Catálogo API</h3>
                <p><a href="link2.html">Link 2</a></p>
                <p><a href="link2.html">Link 2</a></p>
                <p><a href="link2.html">Link 2</a></p>
            </div>
            <!-- Links para contato -->
            <div id="footer-contact" style="margin: 40px;">
                <h3 style="color: rgb(222, 222, 222); padding-bottom: 20px;">Contato</h3>
                <p><a href="link3.html">Link 3</a></p>
                <p><a href="link3.html">Link 3</a></p>
                <p><a href="link3.html">Link 3</a></p>
            </div>
        </div>

    </footer>
</body>

</html>