<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/produtos.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <title>Produtos</title>

<body>
    <header>
        <!--Logo Site-->
        <section id="centralizar">
            <div class="logo">
                <a href="../index.html"><img src="../img/proweb.png" alt="Logo da minha empresa"></a>
            </div>

            <!-- Links do nav-bar -->
            <nav id="nav-links">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../pages/catalogo.html">Catálogo</a></li>
                    <li><a href="../pages/contato.html">Contato</a></li>
                </ul>
            </nav>

            <!-- Botão -->
            <div class="login">
                <button>LOGIN</button>
            </div>
        </section>
    </header>

    <tbody>
        <!-- Conteúdo do header -->
        <main>
            <div id="main-banner" style="color: rgb(40, 40, 40);">
                <!-- Título do banner -->
                <h1 style="padding: 34px; font-size: 36px;">PRODUTOS</h1>
            </div>
        </main>
    </tbody>

    <!-- Body content -->
    <section id="main-section" style="color: rgb(40, 40, 40);">
        <div id="div-info">
            <h2>Nossos <span style="color: rgb(202, 115, 15);">produtos</span>.</h2>

            <div class="card">
                <div id="card_content">
                    <div class="card-info">
                        <h2 class="card-title">Nome do produto</h2>
                        <p class="card-description">Descrição do produto</p>
                        <p><a href="#">Link da api</a></p>
                    </div>

                    <div class="card-info">
                        <h2 class="card-title">Nome do produto</h2>
                        <p class="card-description">Descrição do produto</p>
                        <p><a href="#">Link da api</a></p>
                    </div>

                    <div class="card-info">
                        <h2 class="card-title">Nome do produto</h2>
                        <p class="card-description">Descrição do produto</p>
                        <p><a href="#">Link da api</a></p>
                    </div>

                    <div class="card-info">
                        <h2 class="card-title">Nome do produto</h2>
                        <p class="card-description">Descrição do produto</p>
                        <p><a href="#">Link da api</a></p>
                    </div>

                    <div class="card-info">
                        <h2 class="card-title">Nome do produto</h2>
                        <p class="card-description">Descrição do produto</p>
                        <p><a href="#">Link da api</a></p>
                    </div>

                    <div class="card-info">
                        <h2 class="card-title">Nome do produto</h2>
                        <p class="card-description">Descrição do produto</p>
                        <p><a href="#">Link da api</a></p>
                    </div>

                </div>
            </div>

        </div>

    </section>


    <!-- Footer -->
    <footer style="background-color: #031326; padding: 20px; margin-top: 60px; display: flex;">
        <div id="footer-container">
            <!-- Link de documentaão -->

            <div id="footer-sobre" style="margin: 40px;">
                <h3 style="color: rgb(222, 222, 222); padding-bottom: 20px;">Sobre</h3>
                <p>Proteja seus dados e informações confidenciais com nossas APIs de segurança de alto nível.
                    Mantenha-se tranquilo com as melhores práticas de segurança.</p>
            </div>
            <div id="footer-documentation" style="margin: 40px;">
                <h3 style="color: rgb(222, 222, 222); padding-bottom: 20px;">Documentação</h3>
                <p><a href="link1.html">Link 1</a></p>
                <p><a href="link1.html">Link 1</a></p>
                <p><a href="link1.html">Link 1</a></p>
            </div>
            <!-- links do catálogo das API -->
            <div id="footer-api" style="margin: 40px;">
                <h3 style="color: rgb(222, 222, 222); padding-bottom: 20px;">Catálogo API</h3>
                <p><a href="link2.html">Link 2</a></p>
                <p><a href="link2.html">Link 2</a></p>
                <p><a href="link2.html">Link 2</a></p>
            </div>
            <!-- Links para contato -->
            <div id="footer-contact" style="margin: 40px;">
                <h3 style="color: rgb(222, 222, 222); padding-bottom: 20px;">Contato</h3>
                <p><a href="link3.html">Link 3</a></p>
                <p><a href="link3.html">Link 3</a></p>
                <p><a href="link3.html">Link 3</a></p>
            </div>
        </div>

    </footer>
</body>

</html>